* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
   
    width: 100%;
    /* border: 1px solid black; */
    /* background: linear-gradient(45deg,rgba(214, 210, 168, 0.531),rgb(240, 215, 163)); */
    background-color: blanchedalmond;
    position: fixed;
   
}
.child1 h1{
    color: rgb(71, 115, 6);
     margin-left: 30px;
   
}

.parent {
    /* margin-top: 2%; */
    width: 90%;
    padding:2% 0% ;
    height: 100%;
   
    /* margin: .5rem .5rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    

}

.child2 a {
    
    margin:0% .5rem;
    color: black;
    text-decoration: none;
    /* transition: all .0s linear .5s; */
    font-size: 1.5rem;
    padding: .5rem;
   
}



 a:hover{
    font-size: 1.5rem;
    color: yellow;
    border-radius: 10%;
    
    /* border: 1px solid grey; */
    background-color: rgb(107, 111, 111);
}
@media (max-width:480px){
    .parent{
        background-color: aliceblue;
    }
}
.section1{
    /* margin-top: 6%; */
    
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    box-shadow: 12px 12px 20px gray; 
    background: linear-gradient(90deg,rgb(19, 177, 229) ,rgb(169, 85, 85) 40%,rgb(85, 122, 85)) 15%;
}
.text{
   
    margin: 3rem 3rem;
   
  
}
.section1 img{
    width: 17rem;
    margin-right: 4rem;
}
.text h1{
    color: rgb(245, 177, 6);
    font-size: 3rem;
}
.text h2{
    color: white;
    font-size: 3rem;
}
.text h4{
    color: white;
}
.text button{
    width: 9.5rem;
height: 3rem;
font-size: 1.5rem;
border-radius: 15%;
color: white;
margin: 2.5rem;
border: none;

}
.text #hire{
    background-color:rgb(85, 208, 189); 
}
.text #resume{
    background-color:rgb(207, 125, 90);
    width: 9.4rem; 
}
@media (min-width:480px) and (max-width:768px){
    .section1{
        display: block;
        
        
    }
    
}
.section2{
    margin-top: 0%;
    width: 100%;
    height: 45rem;
   
 
}
.section2 .part{
    background-color: white;
    box-shadow: 12px 12px 20px gray; 
    width: 94%;
    height: 90%;
    /* border: 2px solid black; */
    margin: 2rem 2rem;
    border-radius: 2%;
    display: flex;
     box-shadow: 20px;
}
.section2 img{
    width: 25rem;
    height: 25rem;
    margin: 6rem 6rem;
    
    /* display: block; */
   
}

.part .info{
    width: 50%;
    height: 50%;
    margin: 1rem 2rem;
    /* border: 1px solid greenyellow; */
    display: block;
    /* border-radius: 5%;
    box-shadow: 12px 12px 20px gray;  */

}
/* .section2 .info .about{
    border-radius: 5%;
    box-shadow: 12px 12px 20px gray; 

} */

.about h1{
    margin-left: 1rem;
    color: rgb(30, 94, 30);
}
.part .logo{
    margin-bottom: 2rem;
    width: 95%;
    height: 75%;
    /* border: 1px solid black; */
    margin-top: 20rem;
    display: block;
    border-radius: 5%;
    box-shadow: 12px 12px 20px gray; 
}
.logo h2{
    margin-left: 2rem;
    color: grey;
}
.logo img{
    margin: 2rem 2rem;

    width: 7rem;
    height: 9rem;
}
.section3{
    width: 100%;
    height: 35rem;
    /* border: 1px solid black; */
    display: flex;
}

.section3 h1{
    margin-left: 70%;
    color: green;
    font-size: 2.2rem;
}
.section3 .info{
    margin-left: 5%;
    width: 100%;
    height: 30rem;
    /* border: 1px solid black; */
}
.section3 .image{
    width: 64%;
    height: 30rem;
    /* border: 1px solid black; */
}
body{
    background-color: aliceblue;
}
.section3 .info h2{
   
    font-size: 2rem;
    color: green;
}
.section3 img{
    margin: 2rem 5rem;
    width: 15rem;
    height: 30rem;
}
.section3 h4{
    font-size: 2rem;
    color: rgb(8, 247, 67);
}
.section4 p{
    margin-right: 5rem;
}
.section4{
    margin: 5% 5% 5% 5%;
    width: 90%;
    height: 40rem;
    /* border: 1px solid black; */
    border-radius: 2%;
    
}
.section4 .part{

}
.section4 h1{
  margin-left: 45%;
    color: green;
    font-size: 2.5rem;
}
.section4 img{
    width: 1rem;
    display: inline;
}
.section4 .contact{
    width: 90%;
    height: 30rem;
    box-shadow: 12px 12px 20px gray; 
    margin: 3% 5%;
    display: flex;
    border-radius: 2%;
    background-color: white;
}
.section4 .info{
    width: 50%;
    height: 25rem;
    font-size: 1.3rem;
    margin-left: 7%;
    margin-top: 5%;
   
  
   
}
.section4 .message{
    width: 50%;
    height: 30rem;
    background-color: bisque;
    
  
}
.message label{
    margin-left: 8%;
       
      
}

.section4 input{
    width: 80%;
    height: 30px;
    margin-left: 8%;
    border-radius: 5%;
    margin-bottom: 2%;
   
    
}
.section4 textarea{
    margin-left: 8%;
    width: 80%;
    height: 20%;
    margin-bottom: 2%;
    
}

.section4 .message h1{
    color: green;
   margin-top: 5%;
   margin-left: 8%;
    font-size: 2rem;
}
.section4 button{
    width: 40%;
    height: 40px;
    background-color: gold;
    border-radius: 10%;
    border: none;
    margin: 1% 8%;
    /* padding: 10px; */

}
.footer{
    width: 100%;
    height: 100px;
    background-color: orange;
   
}
.footer h2{
    
  text-align: center;
  text-shadow: 10px grey;
  padding-top: 30px;

}